body {
    background-image: url(../images/background.png);
    background-repeat: repeat;
    margin-bottom: 5%;
}

.content {
    background-color: whitesmoke;
    padding: 3%;
    border-radius: 2%;
}

.jumbotron {
    background-color: 	#007399;
    color: whitesmoke;
}

.welcome-content {
    padding: 6% 0;
}
 
img{
    margin: auto;
    padding: 2%;
}

h3 {
    margin: 10px auto;
}
.answer-choice {
    background-color: lightgray;
    font-size: 24px;
}

p.answer-choice {
    padding: 5px;
}

p.answer-choice:hover {
    background-color: #09B0AE;
}

p.answer-choice:active {
    background-color: #08A677;
}

.answer-div {
padding: 20px 0;
}